[submodule "shared_repo"]
	path = shared_repo
	url = https://github.com/UT-APT/byf69.git

[submodule "Connexus"]
	path = mini-projects/Connexus
	url = https://github.com/UT-APT/Connexus.git

[submodule "mini-projects/connexus-android"]
	path = mini-projects/connexus-android
	url = https://github.com/UT-APT/connexus-android.git
	
